/***********************GAME PAGE COMPONENT***********************/

.gamePageGameComponentWrapper { 
  width: 95%;
}

/* BOX SCORE COMPONENTS FOR GAMEPAGE */
.gamePageLowerComponents {
  width: 95%;
 /* border-style: solid;
  border-width: 5px;*/
}

/***********************BOX SCORE COMPONENT***********************/

.boxScoreWrapper {
  margin-top: 10px;
  margin-right: 2.5%;
  padding: 0 !important;
  /*float: right;*/
}

.noGameWrapper {
	width: 40%;
}

.boxScoreColWrapper {
  /*margin: 10px;*/
}

.boxScoreCol {
  padding-left: 5px !important;
}


/***********************TABLE COMPONENT***********************/
.tableWrapper {
  /*width: 750px;*/
}

.tableWrapper table {
  background-color: #FFFFFF;
}

.table { 
  overflow-y: auto;
}

.table th, .table td {
  height: 50px;
}

.table thead th {
  color: white;
  position: sticky; 
  top: 0;
}

#nameTD {
  text-align: left;
  min-width: 150px;
}

/***********************TEAM DATA COMPONENT***********************/
/***********************TEAM HEADER***********************/
.teamDataCol {
  /*background-color: white;*/
  padding-right: 5px !important;
}

.teamDataWrapper {
  /*background-color: white;*/
  border: 2px solid;
}

.teamDataHeaderWrapper {
  padding: 10px;
  text-align: center;
  /*margin: 10px;*/
}

.teamHeaderLabel {
  display: inline-block !important;
  color: white;
  font-weight: bold;
  font-size: large;
}

.headerNameCenter {
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

/***********************TEAM SUMMARY***********************/
.teamSummaryWrapper {
  /*background-color: grey;*/
}

.centeredColImage {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


/***********************PLAYER INFO COMPONENT***********************/
.playerInfoTable {
  width: 90%;
  margin-bottom: 0px !important;
}

.playerInfoTable th, .playerInfoTable td {
  height: 30px;
  width: 15px;
  padding: 0.6rem !important;
}

.playerInfoTable th {
  padding-right: 0 !important;
}

.teamDataColWrapper {
  display: flex;
  flex-direction: column;
}
.playerWrapper {
  display: flex;
  flex-direction: column;
  flex-grow:1;
}

.playerGameLogWrapper  {
  flex-grow:1;
}
/*.playerInfoWrapper { 
  display: -ms-flex; 
  display: -webkit-flex; 
  display: flex; 
}

.playerInfoWrapper > div { 
  flex:1; 
}
*/

/***********************PLAYER GAME LOG COMPONENT***********************/
.gameLogWrapper {
  margin-top: 3px;
  overflow-x: scroll;
}

.gameLogTable {
  background-color: #FFFFFF;
  margin-bottom: .5rem;
}

.gameLogTable th {
  color: #FFFFFF;
  font-size: 1.0rem;
  background-color: #343a40;
  position: sticky;
  top: 0;
}

.gameLogTable td {
  /*color: #FFFFFF;*/
  font-size: 0.9rem;
  width: 1%;
  white-space: nowrap;
}

.gameLogTable > thead > tr > th {
  vertical-align: middle;
}

.gameLogTable > tbody > tr > td {
  vertical-align: middle;
}

/***********************MODAL COMPONENT***********************/
.modal-content {
  height: 90vh;
}
.modal-body {
  overflow: auto;
}


